@model List<ConestogaVirtualGameStore.Web.Models.ViewModels.MemberDetailReportViewModel>

@{
    ViewData["Title"] = "Member Detail Report";
}

<h2>Member Detail Report</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Account #</th>
        <th>Member Name</th>
        <th>Game Downloads</th>
        <th>Total Paid</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AccountNumber</td>
            <td>@item.MemberName</td>
            <td>@item.GameDownloads</td>
            <td>@item.TotalPaid.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>

