@model IEnumerable<ConestogaVirtualGameStore.Web.Models.ViewModels.FriendViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>User Profiles</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                User Profile Name
            </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (item.IsFriend)
                {
                    <a style="color: #ff4500;" asp-action="RemoveFriend" asp-route-id="@item.Id">Remove from Friends/Family List</a>
                }
                else
                {
                    <a asp-action="AddFriend" asp-route-id="@item.Id">Add To Friends/Family List</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
