@model List<ConestogaVirtualGameStore.Web.Models.ViewModels.WishlistReportViewModel>
@{
    ViewData["Title"] = "Wishlist Report";
}

<h2>Wishlist Report</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Game Name</th>
        <th>Wishlist Saves</th>
        <th>Popularity Rating</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GameName</td>
            <td>@item.WishlistSaves</td>
            <td>@item.PopulatiryRating</td>
        </tr>
    }
    </tbody>
</table>