@model Game[,]

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Welcome to the Conestoga Virtual Game Store!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Game")'">Add New Game</button>
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Event")'">Add New Event</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @for (int j = 0; j < 3; j++)
                    {
                        <td><a href="@Url.Action("Details", "Game", new { @id = @Model[i, j].RecordId })"><img class="table-image" src="~/images/games/@Model[i, j].ImageFileName" /></a></td>
                    }
                </tr>    
            }
            </tbody>
        </table>
    </div>
</div>