@model List<ConestogaVirtualGameStore.Web.Models.ViewModels.MemberListReportViewModel>
@{
    ViewData["Title"] = "Member List Report";
}

<h2>Member List Report</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Accounts Created</th>
            <th>Accounts Deleted</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountsCreated</td>
                <td>@item.AccountsDeleted</td>
                <td>@item.Time.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

