@model IEnumerable<ConestogaVirtualGameStore.Web.Models.Wishlist>

@{
    ViewData["Title"] = "Wishlist";
}

<h2>Wishlist</h2>

<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="list-image" src="~/images/games/@item.Game.ImageFileName"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Game.Price)
            </td>
            <td>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.RecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordId">Remove</a> |
                <a asp-controller="Game" asp-action="ConfirmShoppingCart" asp-route-id="@item.Game.RecordId">Add To Cart</a> <br />
            </td>
        </tr>
    }
    </tbody>
</table>