@model List<ConestogaVirtualGameStore.Web.Models.ViewModels.GameDetailReportViewModel>
@{
    ViewData["Title"] = "Game Detail Report";
}

<h2>Game Detail Report</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Game Name</th>
        <th>Download Count</th>
        <th>Deleted Count</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GameName</td>
            <td>@item.DownloadCount</td>
            <td>@item.DeletedCount</td>
        </tr>    
    }
    </tbody>
</table>