@model IEnumerable<ConestogaVirtualGameStore.Web.Models.ApplicationUser>

@{
    ViewData["Title"] = "Friends/Family Member List";
}

<h2>Friends/Family Member  List</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    User Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-controller="Wishlist" asp-action="Index" asp-route-id="@item.UserName">Wishlist</a>
            </td>
        </tr>
}
    </tbody>
</table>
